<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player">

  <!-- ✅ Tell Quest to allow overlay keyboard -->
  <uses-feature android:name="oculus.software.overlay_keyboard" android:required="true" />

  <application android:label="@string/app_name" android:icon="@mipmap/app_icon" android:allowBackup="false">
    <activity android:name="com.unity3d.player.UnityPlayerActivity"
              android:theme="@style/UnityThemeSelector"
              android:launchMode="singleTask"
              android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
              android:excludeFromRecents="true"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="com.oculus.intent.category.VR" />
      </intent-filter>

      <!-- ✅ Enable Meta system keyboard and VR focus handling -->
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
    </activity>

    <!-- Optional: disable permissions popup on install -->
    <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />

    <!-- Optional: black splash screen for Quest -->
    <meta-data android:name="com.oculus.ossplash.background" android:value="black" />
  </application>
</manifest>
